.gwpgN {
    margin-bottom: 12px;
}
.bVMVXt {
    width: 100%;
    max-width: 100%;
    display: block;
    position: static;
    height: 72px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    transition: opacity 0.25s linear 0s, height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1) 0s;
    background-color: transparent;
}
.ifdVMV {
    width: 100%;
    max-width: 1100px;
    padding-right: 0px;
    margin: 0px 401.5px;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 4;
}
.gpdnUW {
    display: none;
    height: 72px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px 15px;
    background: transparent;
}
.bmbqmX {
    z-index: 2;
    height: 100%;
    width: auto;
    display: flex;
    -webkit-box-flex: 0;
    flex-grow: 0;
    border-bottom: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.hKuLnY {
    width: 20px;
    height: 15px;
    position: relative;
    transform: rotate(0deg);
    transition: transform 0.15s ease-in-out 0s;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}
.kkPOQi:nth-child(1) {
    top: 0px;
}
.kkPOQi {
    transform-origin: left center;
    display: block;
    position: absolute;
    cursor: pointer;
    height: 3px;
    width: 100%;
    border-radius: 0px;
    opacity: 1;
    left: 0px;
    transform: rotate(0deg);
    transition: transform 0.15s ease-in-out 0s, all 0.15s linear 0s;
}
.fvCyAU {
    max-width: 14px;
    cursor: pointer;
    display: none;
}
.hxTfPc {
    max-width: 126.89px;
    height: 27px;
    display: block;
    cursor: pointer;
}
div, p, span {
    font-size: 16px;
}
*, :after, :before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
div {
    display: block;
}
.fIVbKv {
    width: 973.11px;
    list-style: none;
    max-width: 100%;
    height: 72px;
    flex-wrap: nowrap;
    background: transparent;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    user-select: none;
    opacity: 1;
    padding: 1.7rem 0px;
    margin: 0px;
    transition: opacity 0.25s linear 0s, visibility 0.25s linear 0s, height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1) 0s;
}
.kAUthO {
    padding-bottom: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 0px 0px 3.2px;
}
.kAUthO > :last-child {
    margin-right: 0px;
}
.kQGLYb {
    width: 64%;
    position: absolute;
    top: 50%;
    left: 15rem;
    transform: translate(0px, -50%);
}
.jjDooz {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 54px;
    width: 704px;
    background: rgb(255, 255, 255);
    border-radius: 0.8rem;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);
}
.hUwOJh {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100%;
    width: 240px;
    border-radius: 0.8rem;
    padding: 0px 1rem;
    -webkit-box-align: center;
    align-items: center;
}
.iFnyeo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}
.iRDDBk {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 20px;
    height: 20px;
}
*, :after, :before {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
svg{
    fill: rgb(255, 126, 139);
}
.fVrIQH {
    border: none;
    margin: 0px 10px 0px 5px;
    padding: 1px 2px;
}
.jWRoci {
    transform: rotate(0deg);
    transition: transform 0.25s ease-in-out 0s;
    cursor: pointer;
}
.iFnyeo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.ezrcri {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 12px;
    height: 12px;
}
.wttIZ {
    width: 0rem;
    height: 2rem;
    border: 0.05rem solid rgb(207, 207, 207);
}
.dmIOAw {
    border-radius: 0.8rem;
    width: 53rem;
    height: 100%;
    display: flex;
    position: relative;
}
.liWVud {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 6rem;
    margin: -1px -9px -1px -1px;
}
.iwHbVQ {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 18px;
    height: 18px;
}
.iwuCpN {
    border: none;
    /* font-size: 1.4rem; */
    width: 100%;
    border-radius: 0.8rem;
}
.dMUNKY {
    max-height: 60rem;
    border-radius: 0.8rem;
    position: absolute;
    overflow: auto;
    top: 3rem;
    visibility: hidden;
    opacity: 0;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    transition: opacity 0.25s ease 0s, top 0.25s ease 0s;
    padding: 1.6rem 0px;
}
.dMUNKY {
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 10;
}
.jqszCs {
    /* font-size: 1.8rem; */
    line-height: 1.5;
    text-align: right;
    vertical-align: middle;
    font-weight: 300;
    color: rgb(105, 105, 105);
    cursor: pointer;
    border-radius: 0.6rem;
    padding: 0.8rem !important;
}
a {
    text-decoration: none;
  }

  .fihUGr {
    position: relative;
    max-width: 1100px;
    max-height: initial;
    margin: 0px auto;
}
.eRYAXk {
    margin: 1rem 0px;
}
.imaLvs > a {
    font-weight: 300;
    color: rgb(130, 130, 130);
}
.imaLvs span {
    font-size: 12px;
}
.imaLvs > a:first-child span {
    padding-left: 0px;
    border-left: 0px;
}
.gETRUR {
    display: inline-flex;
    padding: 0.3rem;
    background-color: transparent;
    cursor: pointer;
    border: 0.1rem solid transparent;
    border-radius: 0.4rem;
    line-height: 1;
}
.epCaSO {
    margin-left: 0.8rem;
    color: rgb(181, 181, 181);
    cursor: default;
    font-size: 12px;
}
.dlAMFr {
    background-color: transparent;
    text-decoration: none;
    display: inline-flex;
}
.jwgGpN {
    line-height: 1.2;
    font-weight: 400;
    color: rgb(28, 28, 28);
    margin: 0px;
    display: inline;
    font-size: 1.2rem;
}
.jwgGpN a {
    margin-right: 0px;
    color: rgb(207, 207, 207);
    cursor: default;
    pointer-events: none;
}
.fihUGr {
    position: relative;
    max-width: 1100px;
    max-height: initial;
    margin: 0px auto;
}